name: Build PDF
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compile
        uses: xu-cheng/latex-action@v4
        with:
          root_file: asr.tex
      - name: Timestamp
        run : echo "TIMESTAMP=$(date '+%Y-%m-%d %T')" >> "$GITHUB_ENV"
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: Draft ${{ env.TIMESTAMP }}
          files: asr.pdf
          draft: true
