name: Build PDF

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install LaTeX
        run: sudo apt-get update && sudo apt-get install -y texlive-full

      - name: Build PDF
        run: latexmk -pdf -interaction=nonstopmode -halt-on-error asr.tex

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: asr.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
